<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="stockmine"/>
<stringAttribute key="TALEND_JOB_ID" value="_8tThoEDbEeOfA_gk2MO8Dw"/>
<stringAttribute key="TALEND_JOB_NAME" value="yahoo_finance_http_request"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
